table,tr,td,th{
    border-collapse: collapse;
    border-bottom: 2px gray solid;
    text-align: center;
}
table{
    margin: auto;
    width: 1000px;
}
caption{
    font-weight: bold;
}
tr:nth-child(even){background-color: lightgray;}
*{
    color: darkred;
}
div.tablecontainer {
  overflow-x: auto;
}
